name: docker-volume-backup

networks:
  isolated:
    name: isolated

volumes:
  home-assistant-data:
    external: true
  prometheus-data:
    external: true
  grafana-data:
    external: true
  alertmanager-data:
    external: true
  komodo-db-postgres-data:
    external: true
  komodo-db-ferretdb-data:
    external: true
  komodo-core-data:
    external: true

services:
  docker-volume-backup:
    image: "offen/docker-volume-backup:v2.47.1@sha256:65a395b7531675ebd4ce9fac611da0d954ea628786d683e3d473ce7e65a61769"
    container_name: docker-volume-backup
    restart: always
    networks:
      - isolated
    environment:
      - AWS_ENDPOINT=garage.binarybraids.com
      - AWS_S3_BUCKET_NAME=docker-volume-backups
      - AWS_ACCESS_KEY_ID=${ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${SECRET_ACCESS_KEY}
      - BACKUP_RETENTION_DAYS=7
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - home-assistant-data:/backup/home-assistant-data:ro
      - prometheus-data:/backup/prometheus-data:ro
      - grafana-data:/backup/grafana-data:ro
      - alertmanager-data:/backup/alertmanager-data:ro
      - komodo-db-postgres-data:/backup/komodo-db-postgres-data:ro
      - komodo-db-ferretdb-data:/backup/komodo-db-ferretdb-data:ro
      - komodo-core-data:/backup/komodo-core-data:ro
