name: github-runner

networks:
  github-runner:
    name: github-runner

volumes:
  github-runner-data:
    name: github-runner-data

services:
  github-runner:
    image: myoung34/github-runner:2.330.0-ubuntu-noble@sha256:01a9c33bee135d9a7fb921150bfc3d249e8afd8c2ab359496ef9ed43d58d095b
    container_name: github-runner
    restart: unless-stopped
    networks:
      - github-runner
    environment:
      - RUNNER_NAME_PREFIX=bb-gh-runner
      - RANDOM_RUNNER_SUFFIX=true
      - RUNNER_GROUP=Self-Hosted
      - APP_ID=${APP_ID}
      - APP_PRIVATE_KEY=${APP_PRIVATE_KEY}
      - RUNNER_SCOPE=org
      - ORG_NAME=binary-braids
      - RUN_AS_ROOT=false
      - EPHEMERAL=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - github-runner-data:/runner/data
      - /tmp/runner:/tmp/runner
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro