name: github-runner

networks:
  github-runner:
    name: github-runner

volumes:
  github-runner-data:
    name: github-runner-data

services:
  github-runner:
    image: myoung34/github-runner:2.331.0-ubuntu-noble
    container_name: github-runner
    restart: unless-stopped
    networks:
      - github-runner
    environment:
      - RUNNER_NAME_PREFIX=bb-gh-runner
      - RANDOM_RUNNER_SUFFIX=true
      - RUNNER_GROUP=Self-Hosted
      - ACCESS_TOKEN=${ACCESS_TOKEN}
      - RUNNER_SCOPE=org
      - ORG_NAME=binary-braids
      - RUN_AS_ROOT=false
      - EPHEMERAL=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - github-runner-data:/runner/data
      - /tmp/runner:/tmp/runner
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro