name: github-runner

networks:
  github-runner:
    name: github-runner

volumes:
  github-runner-data:
    name: github-runner-data

services:
  github-runner:
    image: myoung34/github-runner:2.331.0-ubuntu-noble@sha256:22e82b9be59b84e84da818547fe1200bbe8603b07284cb85ae410e95d48a8b1b
    container_name: github-runner
    restart: unless-stopped
    networks:
      - github-runner
    environment:
      - RUNNER_NAME=${RUNNER_NAME}
      - RUNNER_GROUP=Self-Hosted
      - ACCESS_TOKEN=${ACCESS_TOKEN}
      - RUNNER_SCOPE=org
      - ORG_NAME=binary-braids
      - RUN_AS_ROOT=false
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - github-runner-data:/runner/data
      - /tmp/runner:/tmp/runner
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro