name: steam-headless

volumes:
  steam-headless-data:
    name: steam-headless-data

services:
  steam-headless:
    image: ghcr.io/binary-braids/selkies-evolved:0.1.1
    restart: unless-stopped
    shm_size: 2G
    ipc: host
    runtime: nvidia
    stdin_open: true
    tty: true
    network_mode: host
    hostname: steam-headless
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: 1
            capabilities: [gpu]
    environment:
      - TZ=Africa/Johannesburg
      - DISPLAY_SIZEW=1920
      - DISPLAY_SIZEH=1080
      - DISPLAY_REFRESH=60
      - DISPLAY_DPI=96
      - DISPLAY_CDEPTH=24
      # With driver versions lower than 550, change to `DP-0` or any other `DP-*` port for larger resolution support if NOT using datacenter GPUs
      - VIDEO_PORT=DFP
      - PASSWD=${USER_PASSWORD}
      - SELKIES_ENCODER=nvh264enc
      - SELKIES_ENABLE_RESIZE=false
      # Initial video bitrate in kilobits per second, may be changed later within web interface
      - SELKIES_VIDEO_BITRATE=8000
      # Initial frames per second, may be changed later within web interface
      - SELKIES_FRAMERATE=60
      # Initial audio bitrate in bits per second, may be changed later within web interface
      - SELKIES_AUDIO_BITRATE=128000
      # Uncomment if network conditions rapidly fluctuate
  #    - SELKIES_CONGESTION_CONTROL=true
      # Enable Basic Authentication from the web interface
      - SELKIES_ENABLE_BASIC_AUTH=true
      # Defaults to `PASSWD` if unspecified
  #    - SELKIES_BASIC_AUTH_PASSWORD=mypasswd
      # Enable HTTPS web interface from inside the container
      - SELKIES_ENABLE_HTTPS=false

    # VOLUMES:
    volumes:
      # The location of your home directory.
      - steam-headless-data:/cache
      - steam-headless-data:/home/ubuntu
      - /mnt/data/docker/steam-headless/games/:/mnt/games/:rw