name: steam-headless

volumes:
  steam-headless-data:
    name: steam-headless-data

services:
  steam-headless:
    image: josh5/steam-headless:latest
    restart: unless-stopped
    privileged: true
    shm_size: 6G
    ipc: host
    ulimits:
      nofile:
        soft: 1024
        hard: 524288
    runtime: nvidia
    network_mode: host
    hostname: steam-headless
    extra_hosts:
      - "steam-headless:127.0.0.1"
    environment:
      # System
      - TZ=Africa/Johannesburg
      - USER_LOCALES=en_US.UTF-8 UTF-8
      - DISPLAY=:55
      # User
      - PUID=1000
      - PGID=1000
      - UMASK=000
      - USER_PASSWORD=${USER_PASSWORD}
      # Mode
      - MODE=primary
      # Web UI
      - WEB_UI_MODE=vnc
      - ENABLE_VNC_AUDIO=false
      - PORT_NOVNC_WEB=8083
      # Steam
      - ENABLE_STEAM=true
      - STEAM_ARGS=-silent
      # Sunshine
      - ENABLE_SUNSHINE=true
      - SUNSHINE_USER=${SUNSHINE_USER}
      - SUNSHINE_PASS=${SUNSHINE_PASS}
      # Xorg
      - ENABLE_EVDEV_INPUTS=true
      - FORCE_X11_DUMMY_CONFIG=true
      # Nvidia specific config
      - NVIDIA_DRIVER_CAPABILITIES=all
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_VERSION=

    # DEVICES:
    devices:
      # Use the host fuse device [REQUIRED].
      - /dev/fuse
      # Add the host uinput device [REQUIRED].
      - /dev/uinput
    # Ensure container access to devices 13:*
    device_cgroup_rules:
      - 'c 13:* rmw'

    # VOLUMES:
    volumes:
      # The location of your home directory.
      - steam-headless-data:/home/default/:rw
      - /mnt/data/docker/steam-headless/games/:/mnt/games/:rw
      - /tmp/.X11-unix/:/tmp/.X11-unix/:r/w
      - /tmp/tmp/pulse/:/tmp/pulse/:r/w
      - /dev/input/:/dev/input/:r/w