name: steam-headless

volumes:
  steam-headless-data:
    name: steam-headless-data

services:
  steam-headless:
    image: ghcr.io/binary-braids/selkies-evolved:0.1.1
    restart: unless-stopped
    shm_size: 2G
    ipc: host
    ulimits:
      nofile:
        soft: 1024
        hard: 524288
    runtime: nvidia
    stdin_open: true
    tty: true
    network_mode: host
    hostname: steam-headless
    deploy:
      resources:
        reservations:
          devices:
          - driver: nvidia
            count: all
            capabilities: [gpu]
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_NICE
      - SYS_RAWIO
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    environment:
      - TZ=Africa/Johannesburg
      - DISPLAY_SIZEW=1920
      - DISPLAY_SIZEH=1080
      - DISPLAY_REFRESH=60
      - DISPLAY_DPI=96
      - DISPLAY_CDEPTH=24
      # With driver versions lower than 550, change to `DP-0` or any other `DP-*` port for larger resolution support if NOT using datacenter GPUs
      - VIDEO_PORT=DFP
      - PASSWD=${USER_PASSWORD}
      - SELKIES_ENCODER=nvh264enc
      # Initial frames per second, may be changed later within web interface
      - SELKIES_FRAMERATE=60
      # Uncomment if network conditions rapidly fluctuate
  #    - SELKIES_CONGESTION_CONTROL=true
      # Enable Basic Authentication from the web interface
      - SELKIES_ENABLE_BASIC_AUTH=true
      # Defaults to `PASSWD` if unspecified
  #    - SELKIES_BASIC_AUTH_PASSWORD=mypasswd
      # Enable HTTPS web interface from inside the container
      - SELKIES_ENABLE_HTTPS=false
      - SELKIES_TURN_HOST=10.4.20.43
      - SELKIES_TURN_PROTOCOL=udp
      - NVIDIA_DRIVER_CAPABILITIES=all

    devices:
      # Add the host uinput device [REQUIRED].
      - /dev/uinput
      - /dev/uhid

    # VOLUMES:
    volumes:
      # The location of your home directory.
      - steam-headless-data:/cache
      - steam-headless-data:/home/ubuntu
      - /mnt/data/docker/steam-headless/games/:/mnt/games/:rw
      - /dev/input:/dev/input:rw
      - /run/udev:/run/udev:ro