name: steam-headless

volumes:
  steam-headless-data:
    name: steam-headless-data

services:
  steam-headless:
    image: lscr.io/linuxserver/steamos:latest
    restart: unless-stopped
    runtime: nvidia
    hostname: steam-headless
    ports:
      - 3000:3000
      - 3001:3001
    cap_add:
      - NET_ADMIN
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined #optional
    devices:
      - /dev/dri:/dev/dri
    shm_size: "1gb"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Africa/Johannesburg
      - DRINODE=/dev/dri/renderD128
      - STARTUP=KDE #optional
      - RESOLUTION=1920x1080 #optional

    # VOLUMES:
    volumes:
      - steam-headless-data:/home/default/:rw
      - steam-headless-data:/config
      - steam-headless-data:/dev/input #optional
      - steam-headless-data:/run/udev/data #optional
      - /mnt/data/docker/steam-headless/games/:/mnt/games/:rw