name: steam-headless

volumes:
  steam-headless-data:
    name: steam-headless-data

services:
  steam-headless:
    image: ghcr.io/games-on-whales/wolf:stable
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    hostname: steam-headless
    network_mode: host
    device_cgroup_rules:
      - 'c 13:* rmw'
    devices:
      - /dev/dri
      - /dev/uinput
      - /dev/uhid
    environment:
      - NVIDIA_DRIVER_CAPABILITIES=all
      - NVIDIA_VISIBLE_DEVICES=all

    # VOLUMES:
    volumes:
      - /mnt/data/docker/steam-headless/games/:/mnt/games/:rw
      - steam-headless-data:/etc/wolf
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - /dev/:/dev/:rw
      - /run/udev:/run/udev:rw