name: semaphore

services:

  semaphore-db:
    image: mysql:9.5.0
    container_name: semaphore-db
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=semaphore
      - MYSQL_USER=semaphore
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /docker/semaphore-db/var/lib/mysql:/var/lib/mysql

  semaphore:
    image: ghcr.io/binary-braids/ansible-semaphore:latest@sha256:c594594826cb253120912a25526a9297268a973d3a36bcaa8dfbceb8db1f3968
    container_name: semaphore
    restart: unless-stopped
    environment:
      - SEMAPHORE_ACCESS_KEY_ENCRYPTION=${SEMAPHORE_ACCESS_KEY_ENCRYPTION}
      - SEMAPHORE_ADMIN=semaphore-admin
      - SEMAPHORE_ADMIN_NAME="Semaphore Admin"
      - SEMAPHORE_ADMIN_PASSWORD=${SEMAPHORE_ADMIN_PASSWORD}
      - SEMAPHORE_DB=semaphore
      - SEMAPHORE_DB_DIALECT=mysql
      - SEMAPHORE_DB_HOST=semaphore-db
      - SEMAPHORE_DB_PASS=${SEMAPHORE_DB_PASS}
      - SEMAPHORE_DB_PORT=3306
      - SEMAPHORE_SLACK_ALERT=True
      - SEMAPHORE_SLACK_URL=${SEMAPHORE_SLACK_URL}
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.semaphore.rule=Host(`semaphore.binarybraids.com`)"
      - "traefik.http.routers.semaphore.entrypoints=https"
      - "traefik.http.routers.semaphore.tls=true"
      - "traefik.http.routers.semaphore.service=semaphore"
      - "traefik.http.services.semaphore.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"

configs:
  requirements.txt:
    content: |
      netaddr
      pywinrm

networks:
  proxy:
    external: true