name: semaphore

networks:
  proxy:
    external: true

volumes:
  semaphore-data:
    name: semaphore-data

services:

  semaphore:
    image: ghcr.io/binary-braids/ansible-semaphore:0.3.2
    container_name: semaphore
    restart: unless-stopped
    environment:
      - SEMAPHORE_ACCESS_KEY_ENCRYPTION=${SEMAPHORE_ACCESS_KEY_ENCRYPTION}
      - SEMAPHORE_ADMIN=semaphore-admin
      - SEMAPHORE_ADMIN_NAME="Semaphore Admin"
      - SEMAPHORE_ADMIN_PASSWORD=${SEMAPHORE_ADMIN_PASSWORD}
      - SEMAPHORE_DB_DIALECT=sqlite
    networks:
      - proxy
    volumes:
      - semaphore-data:/var/lib/semaphore
      - semaphore-data:/etc/semaphore
      - semaphore-data:/tmp/semaphore
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.semaphore.rule=Host(`semaphore.binarybraids.com`)"
      - "traefik.http.routers.semaphore.entrypoints=https"
      - "traefik.http.routers.semaphore.tls=true"
      - "traefik.http.routers.semaphore.service=semaphore"
      - "traefik.http.services.semaphore.loadbalancer.server.port=3000"
      - "traefik.docker.network=proxy"

configs:
  requirements.txt:
    content: |
      netaddr
      pywinrm

