name: ai

networks:
  proxy:
    external: true

volumes:
  invoke-ai-data:
    name: invoke-ai-data

services:
  ollama:
    image: ollama/ollama:0.13.2@sha256:ceaad0844eda02ddc59d9b40551de7264a564ba7a16a90e241d1c582f0df992d
    container_name: ollama
    restart: unless-stopped
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /mnt/data/docker/ollama:/root/.ollama
    environment:
      - OLLAMA_KEEP_ALIVE=1h
      - OLLAMA_MAX_LOADED_MODELS=1
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ollama.rule=Host(`ollama.binarybraids.com`)"
      - "traefik.http.routers.ollama.entrypoints=https"
      - "traefik.http.routers.ollama.tls=true"
      - "traefik.http.routers.ollama.service=ollama"
      - "traefik.http.services.ollama.loadbalancer.server.port=11434"
      - "traefik.docker.network=proxy"

  searxng:
    image: searxng/searxng:2025.11.25-ebb9ea457@sha256:fc076352d72154feb1d8c0eb42dd5570a3ebc9ca8c6b9c8318ce545a8dfd1ea4
    container_name: searxng
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /mnt/data/docker/searxng:/etc/searxng
      - /mnt/data/docker/searxng:/var/cache/searxng
    configs:
    - source: settings.yml
      target: /etc/searxng/settings.yml
    environment:
      - SEARXNG_BASE_URL=https://searxng.binarybraids.com
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.searxng.rule=Host(`searxng.binarybraids.com`)"
      - "traefik.http.routers.searxng.entrypoints=https"
      - "traefik.http.routers.searxng.tls=true"
      - "traefik.http.routers.searxng.service=searxng"
      - "traefik.http.services.searxng.loadbalancer.server.port=8080"
      - "traefik.docker.network=proxy"

  open-webui:
    image: ghcr.io/open-webui/open-webui:0.6.41@sha256:3e07bcede92e97cc3e741de095045a8b5d20bc257ecdb713bd2a47f68e9dff72
    container_name: open-webui
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /mnt/data/docker/open-webui:/app/backend/data
    environment:
      - OLLAMA_BASE_URL=https://ollama.binarybraids.com
      - RAG_WEB_SEARCH_ENGINE=searxng
      - RAG_WEB_SEARCH_RESULT_COUNT=3
      - RAG_WEB_SEARCH_CONCURRENT_REQUESTS=10
      - SEARXNG_QUERY_URL=https://searxng.binarybraids.com/search?q=<query>
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.open-webui.rule=Host(`chat.binarybraids.com`)"
      - "traefik.http.routers.open-webui.entrypoints=https"
      - "traefik.http.routers.open-webui.tls=true"
      - "traefik.http.routers.open-webui.service=open-webui"
      - "traefik.http.services.open-webui.loadbalancer.server.port=8080"
      - "traefik.docker.network=proxy"  
  
  invoke-ai:
    image: ghcr.io/invoke-ai/invokeai:6.9.0-cuda@sha256:594e935d0fea0b866fb5a853358cbb3adc78eb38317c2ce145e22c76b6bdec68
    container_name: invoke-ai
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - invoke-ai-data:/invokeai
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.invokeai.rule=Host(`invokeai.binarybraids.com`)"
      - "traefik.http.routers.invokeai.entrypoints=https"
      - "traefik.http.routers.invokeai.tls=true"
      - "traefik.http.routers.invokeai.service=invokeai"
      - "traefik.http.services.invokeai.loadbalancer.server.port=9090"
      - "traefik.docker.network=proxy"

configs:
  settings.yml:
    content: |
      use_default_settings: true
      server:
        secret_key: "${SEARXNG_SECRET_KEY}"
      search:
        formats:
          - html
          - json
