name: ai

networks:
  proxy:
    external: true

volumes:
  invoke-ai-data:
    name: invoke-ai-data
  secure-invoke-ai-data:
    name: secure-invoke-ai-data

services:
  ollama:
    image: ollama/ollama:latest@sha256:c622a7adec67cf5bd7fe1802b7e26aa583a955a54e91d132889301f50c3e0bd0
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    container_name: ollama
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /mnt/data/docker/ollama:/root/.ollama
    environment:
      - OLLAMA_KEEP_ALIVE=24h
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ollama.rule=Host(`ollama.binarybraids.com`)"
      - "traefik.http.routers.ollama.entrypoints=https"
      - "traefik.http.routers.ollama.tls=true"
      - "traefik.http.routers.ollama.service=ollama"
      - "traefik.http.services.ollama.loadbalancer.server.port=11434"
      - "traefik.docker.network=proxy"

  searxng:
    image: searxng/searxng:latest@sha256:7c0fd2e9d41ac5cb66d27e5703f5aaa3f7a2e5b09a4d0d5ce34151ab0e9a3054
    container_name: searxng
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /mnt/data/docker/searxng:/etc/searxng
      - /mnt/data/docker/searxng:/var/cache/searxng
    environment:
      - SEARXNG_BASE_URL=https://searxng.binarybraids.com
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.searxng.rule=Host(`searxng.binarybraids.com`)"
      - "traefik.http.routers.searxng.entrypoints=https"
      - "traefik.http.routers.searxng.tls=true"
      - "traefik.http.routers.searxng.service=searxng"
      - "traefik.http.services.searxng.loadbalancer.server.port=8080"
      - "traefik.docker.network=proxy"

  open-webui:
    image: ghcr.io/open-webui/open-webui:latest@sha256:42fc9cb8be6746a95ad1b6f1b41b009621f8af05f99db2e9c7927a6ff92069a4
    container_name: open-webui
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /mnt/data/docker/open-webui:/app/backend/data
    environment:
      - OLLAMA_BASE_URL=https://ollama.binarybraids.com
      - RAG_WEB_SEARCH_ENGINE=searxng
      - RAG_WEB_SEARCH_RESULT_COUNT=3
      - RAG_WEB_SEARCH_CONCURRENT_REQUESTS=10
      - SEARXNG_QUERY_URL=https://searxng.binarybraids.com/search?q=<query>
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.open-webui.rule=Host(`chat.binarybraids.com`)"
      - "traefik.http.routers.open-webui.entrypoints=https"
      - "traefik.http.routers.open-webui.tls=true"
      - "traefik.http.routers.open-webui.service=open-webui"
      - "traefik.http.services.open-webui.loadbalancer.server.port=8080"
      - "traefik.docker.network=proxy"  
  
  invoke-ai:
    image: ghcr.io/invoke-ai/invokeai:sha-9066dc1-cuda@sha256:ce9727961347a68de341a0a52dfb65143b7421db755d1d44ba0c1cb1f20abcb9
    container_name: invoke-ai
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    environment:
      - INVOKEAI_ENABLE_PARTIAL_LOADING=true
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - invoke-ai-data:/invokeai
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.invokeai.rule=Host(`invokeai.binarybraids.com`)"
      - "traefik.http.routers.invokeai.entrypoints=https"
      - "traefik.http.routers.invokeai.tls=true"
      - "traefik.http.routers.invokeai.service=invokeai"
      - "traefik.http.services.invokeai.loadbalancer.server.port=9090"
      - "traefik.docker.network=proxy"

  secure-invoke-ai:
    image: ghcr.io/invoke-ai/invokeai:sha-9066dc1-cuda@sha256:ce9727961347a68de341a0a52dfb65143b7421db755d1d44ba0c1cb1f20abcb9
    container_name: secure-invoke-ai
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    networks:
      - proxy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - secure-invoke-ai-data:/invokeai
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.secure-invokeai.rule=Host(`secure-invokeai.binarybraids.com`)"
      - "traefik.http.routers.secure-invokeai.entrypoints=https"
      - "traefik.http.routers.secure-invokeai.tls=true"
      - "traefik.http.routers.secure-invokeai.service=secure-invokeai"
      - "traefik.http.services.secure-invokeai.loadbalancer.server.port=9090"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.secure-invokeai.middlewares=authelia@docker"